:root {
    --side-space: 10px;
    --text-color: #fff;
    --text-font: 'Arial', sans-serif;
    --page-color: linear-gradient(to bottom, #acf, #006);
    --logo-size: 100px;
    --logo-text-size: 1.5rem;
    --buttons-height: 60px;
    --buttons-color: rgba(255, 255, 255, 0);
    --icon-size: 30px;
    --buttons-text-size: 1.2rem;
}

* {
    text-decoration: none;
    font-family: var(--text-font);
    color: var(--text-color);
}

body {
    padding: var(--side-space);
    background: var(--page-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.logo img {
    width: var(--logo-size);
}

.logo-name {
    font-size: var(--logo-text-size);
    margin-top: 10px;
}

.qrcode > img {
    width: 200px;
}

.qrlogo > img {
    width : 40px;
    margin-right: 10px;
}

.qrlogo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.qrcode {
    margin : 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}